<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Описание использованных технологий</h1>
  
  <div class="container py-5">
    <br>
    В процессе создания данного сайта-блога были использованы технологии:
    <br>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Язык программирования Python
        </li>
        <li class="list-group-item">
          Django framework
        </li>
        <li class="list-group-item">
          SQLite
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <br>
      <p> Описание работы </p>
      <p>
        Результатом изучения мной Фреймворка Django стало 
        создание данного сайта-блога. Где любой зарегистрированный 
        пользователь может составить пост, а другие пользователи 
        могут его прочесть. Для каждого зарегистрированного пользователя 
        есть возможность прокомментировать любой пост.
        Для авторов поста реализована возможность редактирования сообщения. 
        При желании авторизированный пользователь может подписаться 
        на интересующего его автора. На главной странице реализована 
        возможность отображать как все посты авторов, так и переключение 
        на авторов, на которых подписан пользователь.
      </p>
    </article>
  </div>
</div>
{% endblock %} 